.cabecalho {
    padding: 20px 10px;
}

.row {
    margin: 0;
}

.titulo-projeto {
    display: none;
}

.logo {
    width: 100px;
}

.links-lista {
    margin-top: 20px;
}

.link {
    margin: 0 20px;
    color: var(--preto);
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}

.link:hover {
    color: var(--verde);
}

.botao-sair {
    border: none;
    background-color: transparent;
}

.menu-burger {
    margin-right: 10px;
    font-size: 3em;
    transition: transform 0.3s ease;
}

.menu-burger:hover {
    cursor: pointer;
    color: var(--verde);
    transform: rotate(90deg);
}

.links-lista-responsivo {
    margin-top: 15px;
}

.links-lista-responsivo li {
    padding: 15px 0;
    text-align: center;
}

.link-responsivo {
    color: var(--preto);
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

.link-responsivo:hover {
    color: var(--verde);
}

@media (min-width: 992px) {
    .titulo-projeto {
        display: flex;
        margin-top: 15px;
        margin-left: 20px;
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
    }
}