.imagem-carrossel {
    height: 600px;
    width: 100%;
}

.receitas {
    margin-top: 40px;
}

.borda-card {
    width: 100%;
    max-width: 20rem;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card-img-top {
    height: 250px;
}

.borda-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.titulo-receita {
    font-size: 1.5em;
    font-weight: bold;
    margin: 25px 0px;
}

.descricao {
    color: var(--cinza-escuro);
}

.descricao span {
    color: var(--preto);
    font-weight: 500;
    font-size: 1.1em;
}

.botao-card {
    display: block;
    text-align: center;
    background-color: var(--verde);
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.botao-card:hover {
    background-color: var(--verde-escuro);
    box-shadow: 0 4px 10px var(--verde);
}